<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode"
    data-ngw-serialize-prefix="${prefix}" class="padding-block">

    <div data-dojo-attach-point="container" 
        data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1, labelWidth: 150">

        <div data-dojo-attach-point="url"
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="required: true"
            data-ngw-serialize="url"
            title="{{gettext 'URL'}}" style="width: 100%"></div>



    </div>
</div>
